div.contact {
  width: 45%;
  height: 200vh;
  margin: 0 auto;
  padding: 25px;

  h1.contact__title {
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
    position: relative;
  }

  h1::after {
    content: "";
    display: block;
    margin-top: 10px;
    height: 2px;
    width: 40px;
    background: rgb(248, 59, 59);
    left: 50%;
    z-index: 1;
    position: relative;
    transform: translateX(-50%);
  }

  form.contact__form {
    padding: 25px;
    margin-top: 30px;
    border: 1px solid rgb(221, 215, 215);
    display: flex;
    flex-direction: column;

    h2.contact__description {
      font-size: 1em;
      font-weight: 400;
    }

    p.contact__text {
      margin: 15px 0 0px;
      font-weight: 300;
      font-size: 0.8em;
    }
    label {
      margin: 25px 0 5px;
      font-size: 0.8em;
      font-weight: 500;
    }
    input {
      height: 30px;
      font-size: 0.8em;
      padding-left: 10px;
      border: 1px solid rgb(221, 215, 215);
    }
    select {
      height: 30px;
      padding-left: 10px;
      border: 1px solid rgb(221, 215, 215);
    }
    textarea {
      padding: 10px;
      resize: none;
    }

    div.form__checkbox {
      margin-top: 10px;
      font-size: 0.7em;
      position: relative;
      input.form__checkbox {
        position: relative;
        height: 13px;
        top: 2px;
        background-color: white;
      }
    }
    button.form__submit {
      margin-left: auto;
      margin-top: 50px;
      width: 110px;
      height: 35px;
      background-color: rgba(255, 27, 84, 0.952);
      border-radius: 5px;
      border: none;
      color: white;
    }
  }
}
