header.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  margin: 0 auto;
  background-color: white;
  z-index: 999;
  padding: 0 20%;
  box-shadow: 0 2px 10px grey;

  a.logo {
    display: block;
    height: 100%;

    img {
      margin: 15px 0 15px 0;
      height: 40px;
    }
  }

  ul.navigation__list__desktop {
    position: relative;
    list-style: none;
    width: 60%;
    min-width: 480px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    margin-left: auto;

    li.navigation__list__item {
      margin: 0 10px;
      height: 100%;
      min-width: 30px;
      padding: 30px 0;
      a.navigation__list__item__link {
        display: block;
        transform: translateY(-20%);
        margin: auto 0;
        height: 28px;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        border: 3px solid transparent;
        border-left: none;
        border-right: none;
        color: black;
      }

      @keyframes borderHover {
        0% {
          border-bottom: 0px solid rgb(80, 124, 255);
        }
        100% {
          border-bottom: 2px solid rgb(80, 124, 255);
        }
      }
      a:hover {
        animation: borderHover 0.1s forwards;
      }
    }
  }
  a.loginButton {
    margin-left: auto;
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255, 27, 84, 0.952);
    box-shadow: 1px 1px 2px rgb(204, 192, 192);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  button.navigation__mobile {
    display: none;
  }
}

@media (max-width: 1100px) {
  div.navigation {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  div.navigation {
    padding: 0 5%;
    a.logo {
      img {
        margin: 15px 0 15px 0;
      }
    }

    ul.navigation__list__desktop {
      display: none !important;
    }
    a.loginButton {
      display: none !important;
    }
    button.navigation__mobile {
      display: block;
      border: none;
      background-color: white;
      margin-left: auto;
    }
  }
}

@media (max-width: 420px) {
  div.navigation {
    height: 75px;
    padding: 0 5%;
    a.logo {
      img {
        margin: 15px 0 15px 0;
        height: 40px;
      }
    }
  }
}
